/* This is a workaround for an unsolved bug in styled-components, which causes refetching of fonts when using font-face */

@font-face {
  font-family: 'Calibre';
  font-weight: 300;
  src: url('/assets/fonts/Calibre-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  font-weight: 400;
  src: url('/assets/fonts/Calibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  font-weight: 600;
  src: url('/assets/fonts/Calibre-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  font-weight: 800;
  src: url('/assets/fonts/Calibre-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  font-weight: 900;
  src: url('/assets/fonts/Calibre-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Presicav';
  font-weight: 400;
  src: url('/assets/fonts/PresicavRg-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Presicav';
  font-weight: 800;
  src: url('/assets/fonts/PresicavRg-Bold.ttf') format('truetype');
}
